fastapi
python-jose
passlib
pytest
sqlalchemy
python-dotenv
pydantic
# psycopg2 binary via apt-get
# uvicorn via apt-get
# postgres via apt-get
# don't forget to run your migrations
alembic
httpx
python-multipart
requests
uvloop
pydantic[email]